<template>
  <div class="babkee-login relative w-full h-full px-4">
    <!-- <span class="-enter-x xl:hidden">
      <div class="anticon app-logo">
        <img src="/favicon.png" />
        <div class="ml-2 truncate md:opacity-100 app-logo__title">Babkee</div>
      </div>
    </span>-->

    <div class="container relative h-full py-2 mx-auto sm:px-10" style="height: 100vh">
      <div class="flex h-full">
        <div class="hidden min-h-full pl-4 mr-4 xl:flex xl:flex-col xl:w-8/12">
          <!-- <div class="anticon flex items-center font-medium app-logo -enter-x">
            <img src="/favicon.png" class="w-1/12" />
            <div
              class="ml-2 truncate md:opacity-100 text-3xl text-white vben-app-logo__title xs:opacity-0"
            >Babkee</div>
          </div> -->

          <div class="my-auto">
            <img alt="Babkee" src="/login_img.svg" class="w-1/2 -mt-16 -enter-x" />
            <div class="mt-10 font-medium text-white -enter-x">
              <span class="inline-block mt-4 text-3xl">Report management system</span>
            </div>
            <div class="mt-5 font-normal text-white text-md dark:text-gray-500 -enter-x"
              >Enter your personal details and get started!</div
            >
          </div>
        </div>

        <div class="flex w-full h-full py-5 xl:h-auto xl:py-0 xl:my-0 xl:w-8/12">
          <div
            style="margin-left: 200px"
            class="babkee-login__form relative w-full px-5 py-8 mx-auto my-auto rounded-md shadow-md xl:ml-24 xl:bg-transparent sm:px-8 xl:p-4 xl:shadow-none sm:w-3/4 lg:w-2/4 xl:w-2/4 enter-x"
          >
            <h2 class="mb-3 text-2xl font-bold text-center xl:text-3xl enter-x xl:text-left enter-x"
              >Sign in</h2
            >

            <el-form class="enter-x">
              <el-form-item prop="username">
                <el-input
                  v-model="username"
                  placeholder="Username"
                  name="username"
                  type="text"
                  tabindex="1"
                  :prefix-icon="UserFilled"
                  autocomplete="on"
                />
              </el-form-item>

              <el-form-item prop="password">
                <el-input
                  v-model="password"
                  placeholder="Password"
                  name="password"
                  tabindex="2"
                  show-password
                  :prefix-icon="Lock"
                  autocomplete="on"
                  @keyup.enter="handleLogin"
                />
              </el-form-item>

              <el-row>
                <el-col :span="12">
                  <el-form-item>
                    <el-checkbox label="Remember me" name="type"></el-checkbox>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <div class="text-right">
                    <el-button color="#1d4eac" type="text">Forget Passowrd?</el-button>
                  </div>
                </el-col>
              </el-row>

              <el-button
                :loading="loading"
                type="primary"
                class="w-full"
                color="#1d4eac"
                @click.prevent="handleLogin"
                >Sign in</el-button
              >
            </el-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { Lock, UserFilled } from '@element-plus/icons-vue'
  import { ref } from 'vue'

  export default {
    setup() {
      const username = ref('')
      const password = ref('')
      const loading = false

      function handleLogin() {
        console.log(`User data:  Username ${username.value},  Password ${password.value}`)
      }

      return {
        username,
        password,
        loading,
        handleLogin,
        Lock,
        UserFilled,
      }
    },
  }
</script>

<style lang="scss">
  $dark-bg: #293146;

  #app {
    width: 100%;
    height: 100%;
  }

  .babkee-login {
    min-height: 100%;
    overflow: hidden;

    @media (max-width: 1200px) {
      background-color: #293146;
    }
  }

  .babkee-login__form {
    @media (max-width: 1200px) {
      background-color: #fff;
    }
  }

  .babkee-login:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: -48%;
    background-image: url('/login_bg.svg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    content: '';

    @media (max-width: 1200px) {
      display: none;
    }
  }
</style>
