<template>
  <div class="wrapper">
    <div class="filters-items mt-4 flex flex-nowrap justify-between gap-2 items-end" width="100%">
      <div class="filters-item">
        <div class="filters-item__label">Partner</div>
        <el-select v-model="selectValue" placeholder="Select" size="large">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </div>

      <div class="filters-item">
        <div class="filters-item__label">Source</div>
        <el-select v-model="selectValue" placeholder="Select" size="large">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </div>

      <div class="filters-item">
        <div class="filters-item__label">Websites</div>
        <el-select v-model="selectValue" placeholder="Select" size="large">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </div>

      <div class="filters-item">
        <div class="filters-item__label">Device</div>
        <el-select v-model="selectValue" placeholder="Select" size="large">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </div>

      <div class="filters-item">
        <div class="filters-item__label">Market</div>
        <el-select v-model="selectValue" placeholder="Select" size="large">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </div>

      <div class="filters-item">
        <div class="filters-item__label">Buyer</div>
        <el-select v-model="selectValue" placeholder="Select" size="large">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </div>

      <div class="filters-item">
        <div class="filters-item__label">Date</div>
        <el-date-picker
          v-model="date"
          type="daterange"
          size="large"
          :shortcuts="shortcuts"
          start-placeholder="Start Date"
          end-placeholder="End Date"
          :default-value="[new Date(2010, 9, 1), new Date(2010, 10, 1)]"
        />
      </div>

      <div class="filters-item">
        <div class="filters-item__label">User Teams</div>
        <el-select v-model="selectValue" placeholder="Select" size="large">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </div>

      <div class="filters-item">
        <el-button size="large" type="success">
          Load Report <el-icon class="el-icon--right"><Refresh /></el-icon>
        </el-button>
      </div>
    </div>
  </div>
</template>

<script setup>
  import { Refresh } from '@element-plus/icons-vue'
  import { ref } from 'vue'

  const date = ref('')
  const selectValue = ref('')

  const shortcuts = [
    {
      text: 'Yesterday',
      value: () => {
        const date = new Date()
        date.setTime(date.getTime() - 3600 * 1000 * 24)
        return date
      },
    },
    {
      text: 'Last 7 Days',
      value: () => {
        const end = new Date()
        const start = new Date()
        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
        return [start, end]
      },
    },
    {
      text: 'Last 30 Days',
      value: () => {
        const date = new Date()
        date.setTime(date.getTime() - 3600 * 1000 * 24 * 30)
        return date
      },
    },
    {
      text: 'This Month',
      value: [new Date(), new Date()],
    },
    {
      text: 'Custom Range',
      value: () => {
        const date = new Date()
        date.setTime(date.getTime() - 3600 * 1000 * 24 * 7)
        return date
      },
    },
  ]
  const options = [
    {
      value: 'Option1',
      label: 'Option1',
    },
    {
      value: 'Option2',
      label: 'Option2',
    },
    {
      value: 'Option3',
      label: 'Option3',
    },
    {
      value: 'Option4',
      label: 'Option4',
    },
    {
      value: 'Option5',
      label: 'Option5',
    },
  ]
</script>

<style lang="scss">
  @use '/@/styles/mixins/media' as m;

  .el-picker-panel__body-wrapper {
    .el-picker-panel__body {
      margin-left: 0;
      margin-right: 110px;
      border-right: 1px solid #ccc;
    }
    .el-picker-panel__sidebar {
      right: 0;
      padding-right: 5px;
      padding-top: 20px;
    }
    .el-picker-panel__shortcut {
      font-size: 12px;
    }
  }

  // .filters-items {
  //   @include media(sm2) {
  //     display: grid;

  //   }
  // }

  // .filters-item {
  //   width: 100%;
  // }
</style>
