@use './transition';
@use './overwrite';
@use './mixins/media' as m;

body {
  background: #f6f8f9;
  overflow-x: hidden;
}

.wrapper {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.actions-cell {
  width: 120px;
}
