<template>
  <div class="logo-wrapper">
    <router-link to="/">
      <svg
        version="1.2"
        baseProfile="tiny-ps"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 554 147"
        class="app-logo"
      >
        <title>Babkee</title>
        <g id="Layer 1">
          <path
            id="&lt;Compound Path&gt;"
            fill-rule="evenodd"
            class="shp0"
            d="M175.92 114.93C171.55 114.93 169.07 111.51 169.07 107.61L169.07 40.89C169.19 36.88 171.55 33.57 175.92 33.57L201.66 33.57C216.3 33.57 225.75 42.31 225.75 56.24C225.75 61.56 223.03 68.29 214.65 71.48C225.4 74.19 230 83.4 230 90.02C230 103.48 220.2 114.93 204.02 114.93L175.92 114.93ZM200.01 66.05C204.49 66.05 207.56 62.27 207.56 57.43C207.56 52.35 204.97 48.81 199.89 48.81L186.43 48.81L186.43 66.05L200.01 66.05ZM186.43 79.74L186.43 99.7L203.08 99.7C208.86 99.7 211.81 94.38 211.81 89.54C211.81 84.94 208.86 79.74 202.72 79.74L186.43 79.74Z"
          />
          <path
            id="&lt;Compound Path&gt;"
            fill-rule="evenodd"
            class="shp0"
            d="M281.13 66.52C281.25 62.5 285.03 59.2 289.4 59.2C293.88 59.2 297.66 62.39 297.66 66.52L297.66 108.2C297.66 112.33 293.88 115.52 289.4 115.52C285.03 115.52 281.25 112.21 281.13 108.2L281.13 107.14C277.59 112.92 270.86 115.99 264.6 115.99C250.55 115.99 237.79 105.6 237.79 87.3C237.79 69 250.55 58.72 264.6 58.72C268.14 58.72 276.41 60.26 281.13 67.58L281.13 66.52ZM267.79 101.35C275.23 101.35 281.25 94.74 281.25 87.42C281.25 80.1 275.23 73.48 267.79 73.48C259.52 73.48 254.8 80.1 254.8 87.42C254.8 94.74 259.52 101.35 267.79 101.35Z"
          />
          <path
            id="&lt;Compound Path&gt;"
            fill-rule="evenodd"
            class="shp0"
            d="M343.12 58.72C357.18 58.72 369.93 69 369.93 87.3C369.93 105.6 357.18 115.99 343.12 115.99C336.87 115.99 330.14 112.92 326.59 107.14L326.59 108.2C326.48 112.21 322.7 115.52 318.33 115.52C313.84 115.52 310.06 112.33 310.06 108.2L310.06 36.52C310.06 32.39 313.84 29.2 318.33 29.2C322.7 29.2 326.48 32.51 326.59 36.52L326.59 67.58C331.32 60.26 339.58 58.72 343.12 58.72ZM339.94 73.48C332.5 73.48 326.48 80.1 326.48 87.42C326.48 94.74 332.5 101.35 339.94 101.35C348.2 101.35 352.93 94.74 352.93 87.42C352.93 80.1 348.2 73.48 339.94 73.48Z"
          />
          <path
            id="&lt;Compound Path&gt;"
            class="shp0"
            d="M398.03 93.2L398.03 108.2C398.03 112.33 394.25 115.52 389.77 115.52C385.4 115.52 381.62 112.21 381.5 108.2L381.5 36.52C381.62 32.51 385.4 29.2 389.77 29.2C394.25 29.2 398.03 32.39 398.03 36.52L398.03 75.02L410.9 62.03C413.5 59.08 418.34 58.49 421.53 61.09C424.6 63.57 425.43 68.29 422.59 71.59L409.72 84.11L427.91 103.12C430.98 106.43 430.74 111.39 427.43 113.87C424.48 116.35 418.93 115.99 416.57 113.16L398.03 93.2Z"
          />
          <path
            id="&lt;Compound Path&gt;"
            fill-rule="evenodd"
            class="shp0"
            d="M482.09 111.03C476.54 114.69 469.58 115.99 463.08 115.99C447.26 115.99 434.27 104.54 434.27 87.18C434.27 69.82 447.26 58.72 463.08 58.72C478.79 58.72 491.3 70.3 491.3 87.65C491.3 90.61 488.82 92.73 486.23 92.73L450.68 92.73C451.51 99.11 458.48 101.82 464.26 101.82C467.57 101.82 470.4 101.59 473.83 99.23C477.61 96.63 481.86 97.34 484.22 100.05C487.29 103.6 486.11 108.67 482.09 111.03ZM474.77 82.46C473.95 75.73 469.34 72.42 463.2 72.42C457.06 72.42 452.34 75.49 450.92 82.46L474.77 82.46Z"
          />
          <path
            id="&lt;Compound Path&gt;"
            fill-rule="evenodd"
            class="shp0"
            d="M544.91 111.03C539.36 114.69 532.4 115.99 525.9 115.99C510.08 115.99 497.09 104.54 497.09 87.18C497.09 69.82 510.08 58.72 525.9 58.72C541.61 58.72 554.12 70.3 554.12 87.65C554.12 90.61 551.64 92.73 549.05 92.73L513.51 92.73C514.33 99.11 521.3 101.82 527.08 101.82C530.39 101.82 533.22 101.59 536.65 99.23C540.43 96.63 544.68 97.34 547.04 100.05C550.11 103.6 548.93 108.67 544.91 111.03ZM537.59 82.46C536.77 75.73 532.16 72.42 526.02 72.42C519.88 72.42 515.16 75.49 513.74 82.46L537.59 82.46Z"
          />
          <g id="&lt;Group&gt;">
            <path
              id="&lt;Path&gt;"
              class="shp1"
              d="M73.36 0.59C35.6 0.59 4.54 29.27 0.76 66.04L46.23 66.04L46.23 40.89C46.34 36.88 48.71 33.57 53.08 33.57L78.82 33.57C93.46 33.57 102.91 42.31 102.91 56.24C102.91 61.56 100.19 68.29 91.81 71.48C102.55 74.19 107.16 83.4 107.16 90.02C107.16 103.48 97.36 114.93 81.18 114.93L53.08 114.93C48.71 114.93 46.23 111.51 46.23 107.61L46.23 79.76L0.66 79.76C3.8 117.17 35.14 146.56 73.36 146.56C113.67 146.56 146.35 113.88 146.35 73.58C146.35 33.27 113.67 0.59 73.36 0.59Z"
            />
            <path
              id="&lt;Path&gt;"
              class="shp1"
              d="M63.59 99.7L80.24 99.7C86.02 99.7 88.97 94.38 88.97 89.54C88.97 84.94 86.02 79.74 79.88 79.74L63.59 79.74L63.59 99.7Z"
            />
            <path
              id="&lt;Path&gt;"
              class="shp1"
              d="M84.72 57.43C84.72 52.35 82.12 48.81 77.05 48.81L63.59 48.81L63.59 66.05L77.16 66.05C81.65 66.05 84.72 62.27 84.72 57.43Z"
            />
          </g>
        </g>
      </svg>
    </router-link>
  </div>
</template>

<script>
  export default {
    name: 'app-logo',
    computed: {
      layout() {
        return this.$store.state.layout
      },
    },
  }
</script>

<style>
  .app-logo {
    width: 110px;
    height: 100%;
  }
  tspan {
    white-space: pre;
  }
  .shp0 {
    fill: #3c3c3b;
  }
  .shp1 {
    fill: #5ab031;
  }
  .logo-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
  }
  .logo-wrapper:hover {
    background-color: #ecf5ff;
  }
</style>
