<template>
  <div class="w-max pr-5 pl-5">
    <el-dropdown trigger="hover" :hide-on-click="true">
      <span class="el-dropdown-link cursor-pointer flex items-center">
        <el-avatar
          class="mr-2"
          :size="40"
          src="https://i.ytimg.com/vi/GP9nfdpJ-As/maxresdefault.jpg"
        ></el-avatar>
        <span>{{ name }}</span>
      </span>
      <template #dropdown>
        <el-dropdown-menu>
          <el-dropdown-item>
            <el-icon><avatar /></el-icon>
            <router-link to="/profile">Profile</router-link>
          </el-dropdown-item>
          <el-dropdown-item>
            <el-icon><house /></el-icon>
            <a href="https://gitlab.com/makcmakc/babkee-vue-vite-element" target="blank">GitLab</a>
          </el-dropdown-item>
          <el-dropdown-item divided>Logout</el-dropdown-item>
        </el-dropdown-menu>
      </template>
    </el-dropdown>
  </div>
</template>

<script setup>
  import { ArrowDown, Avatar, House } from '@element-plus/icons-vue'

  const name = 'Max Teleshev'
</script>
