<template>
  <div class="wrapper mt-4">
    <div class="p-2 bg-white rounded-md">
      <div class="el-table__header flex items-center">
        <div class="el-table__title pb-2 basis-full font-semibold text-base">Sites</div>

        <div class="flex items-center justify-end">
          <div style="height: 1.6rem" class="cursor-pointer">
            <el-icon><RefreshRight /></el-icon>
          </div>
          <div class="h-5 ml-4">
            <el-dropdown trigger="click" @command="handleSize">
              <span class="el-dropdown-link flex items-center">
                <svg
                  focusable="false"
                  class="cursor-pointer"
                  data-icon="column-height"
                  width="1em"
                  height="1em"
                  fill="currentColor"
                  aria-hidden="true"
                  viewBox="64 64 896 896"
                >
                  <path
                    d="M840 836H184c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h656c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8zm0-724H184c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h656c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8zM610.8 378c6 0 9.4-7 5.7-11.7L515.7 238.7a7.14 7.14 0 00-11.3 0L403.6 366.3a7.23 7.23 0 005.7 11.7H476v268h-62.8c-6 0-9.4 7-5.7 11.7l100.8 127.5c2.9 3.7 8.5 3.7 11.3 0l100.8-127.5c3.7-4.7.4-11.7-5.7-11.7H548V378h62.8z"
                  ></path>
                </svg>
              </span>
              <template #dropdown>
                <el-dropdown-menu>
                  <el-dropdown-item command="large">Large</el-dropdown-item>
                  <el-dropdown-item command="default">Default</el-dropdown-item>
                  <el-dropdown-item command="small">Small</el-dropdown-item>
                </el-dropdown-menu>
              </template>
            </el-dropdown>
          </div>

          <div style="height: 1.2rem" class="cursor-pointer ml-4">
            <el-dropdown trigger="click">
              <el-icon><Setting /></el-icon>
              <template #dropdown>
                <div class="adgroup-filters">
                  <div class="adgroup-filters__header p-4">
                    <el-checkbox v-model="tableBorders" label="Table Borders" size="default" />
                    <el-checkbox v-model="tableStriped" label="Table Striped" size="default" />
                    <el-checkbox
                      v-model="tableSelectionColumn"
                      label="Selection Column"
                      size="default"
                    />
                  </div>
                  <div class="grid grid-cols-3 gap-1 p-4 w-lg">
                    <el-checkbox v-model="checked1" label="Option 1" size="default" />
                    <el-checkbox v-model="checked1" label="Option 1" size="default" />
                    <el-checkbox v-model="checked1" label="Option 1" size="default" />
                    <el-checkbox v-model="checked1" label="Option 1" size="default" />
                    <el-checkbox v-model="checked1" label="Option 1" size="default" />
                    <el-checkbox v-model="checked1" label="Option 1" size="default" />
                    <el-checkbox v-model="checked1" label="Option 1" size="default" />
                    <el-checkbox v-model="checked1" label="Option 1" size="default" />
                  </div>
                  <div class="adgroup-filters__footer flex justify-between p-4 text-right">
                    <el-checkbox v-model="tableStriped" label="Set As Default" size="default" />
                    <el-button type="primary">Apply</el-button>
                  </div>
                </div>
              </template>
            </el-dropdown>
          </div>
        </div>
      </div>

      <el-table ref="tableRef" row-key="date" :data="tableData" style="width: 100%">
        <el-table-column type="index" width="50" />
        <el-table-column prop="domain" label="Domain" width="180" />
        <el-table-column prop="shortName" label="Short Name" />
        <el-table-column prop="language" label="Language" />

        <el-table-column
          prop="market"
          label="Market"
          width="180"
          column-key="market"
          :filters="[
            { text: 'UK', value: 'uk' },
            { text: 'FR', value: 'fr' },
            { text: 'ES', value: 'es' },
            { text: 'NO', value: 'no' },
          ]"
          :filter-method="filterHandler"
        />

        <el-table-column prop="status" label="Status">
          <template #default="scope">
            <div v-if="scope.row.status === '1'">
              <el-tag type="success">Active</el-tag>
            </div>
            <div v-else>
              <el-tag type="info">Inactive</el-tag>
            </div>

            <!-- <el-tag class="ml-2" type="success">{{ scope.row.status }}</el-tag> -->
          </template>
        </el-table-column>

        <el-table-column
          prop="siteGroup"
          label="Site Group"
          column-key="siteGroup"
          :filters="[
            { text: 'MMG', value: 'mmg' },
            { text: 'System', value: 'system' },
            { text: '3dparty', value: '3dparty' },
          ]"
          :filter-method="filterHandler"
        />
        <el-table-column prop="zones" label="Zones" />
        <el-table-column prop="zones" label="Link Format Site Params" />
        <el-table-column prop="partner" label="Partner" />
        <el-table-column prop="pages" label="Pages" />
        <el-table-column prop="availableMarkets" label="Available Markets" />

        <el-table-column prop="actions" label="Actions" width="140px">
          <template #default="scope">
            <div class="actions-cell">
              <el-button size="small" type="primary" @click="dialogTableVisible = true"
                >Edit</el-button
              >
              <el-button size="small" type="danger" @click="handleDelete(scope.$index, scope.row)"
                >Delete</el-button
              >
            </div>
          </template>
        </el-table-column>
      </el-table>

      <div class="el-table__footer pt-4 text-right">
        <el-button type="success" size="large">Create New</el-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
  import { ref } from 'vue'
  import {
    Select,
    Close,
    Operation,
    RefreshRight,
    Link,
    VideoPause,
    VideoPlay,
    Setting,
    ScaleToOriginal,
  } from '@element-plus/icons-vue'

  const tableRef = ref()

  const resetDateFilter = () => {
    tableRef.value!.clearFilter(['date'])
  }
  // TODO: improvement typing when refactor table
  const clearFilter = () => {
    // eslint-disable-next-line @typescript-eslint/ban-ts-comment
    tableRef.value!.clearFilter()
  }
  const formatter = (row, column) => {
    return row.address
  }
  const filterTag = (value, row) => {
    return row.tag === value
  }
  const filterHandler = (value, row, column) => {
    const property = column['property']
    return row[property] === value
  }

  const tableData = [
    {
      id: '7',
      domain: 'auto.insuranceshop.us',
      shortName: 'AIS',
      language: 'English',
      market: 'US',
      status: '1',
      siteGroup: 'MMG',
      zones: 'Feed Zones',
      linkformat: 'Params',
      partner: 'CBS',
      pages: 'Pages',
      availableMarkets: ['us', 'uk', 'de'],
    },
    {
      id: '7',
      domain: 'auto.insuranceshop.us',
      shortName: 'AIS',
      language: 'English',
      market: 'US',
      status: '0',
      siteGroup: 'MMG',
      zones: 'Feed Zones',
      linkformat: 'Params',
      partner: 'CBS',
      pages: 'Pages',
      availableMarkets: ['us', 'uk', 'de'],
    },
    {
      id: '7',
      domain: 'auto.insuranceshop.us',
      shortName: 'AIS',
      language: 'English',
      market: 'US',
      status: '1',
      siteGroup: 'MMG',
      zones: 'Feed Zones',
      linkformat: 'Params',
      partner: 'CBS',
      pages: 'Pages',
      availableMarkets: ['us', 'uk', 'de'],
    },
    {
      id: '7',
      domain: 'auto.insuranceshop.us',
      shortName: 'AIS',
      language: 'English',
      market: 'US',
      status: '1',
      siteGroup: 'MMG',
      zones: 'Feed Zones',
      linkformat: 'Params',
      partner: 'CBS',
      pages: 'Pages',
      availableMarkets: ['us', 'uk', 'de'],
    },
  ]
</script>
