<template>
  <div class="wrapper">
    <div class="charts-container mt-6">
      <div class="charts-item">
        <v-chart :option="option" />
      </div>
      <div class="charts-item">
        <v-chart :option="option" />
      </div>
      <div class="charts-item">
        <v-chart :option="option" />
      </div>
      <div class="charts-item">
        <v-chart :option="option" />
      </div>
    </div>
  </div>
</template>

<script>
  import { use } from 'echarts/core'
  import { CanvasRenderer } from 'echarts/renderers'
  import { PieChart } from 'echarts/charts'
  import { TitleComponent, TooltipComponent, LegendComponent } from 'echarts/components'
  import VChart, { THEME_KEY } from 'vue-echarts'
  import { ref, defineComponent } from 'vue'

  import * as echarts from 'echarts'

  use([CanvasRenderer, PieChart, TitleComponent, TooltipComponent, LegendComponent])

  export default defineComponent({
    components: {
      VChart,
    },
    provide: {
      [THEME_KEY]: 'light',
    },
    setup() {
      const option = ref({
        title: {
          text: 'Traffic Sources',
          left: 'center',
        },
        responsive: true,
        maintainAspectRatio: true,
        aspectRatio: 1,
        scales: {
          y: {
            beginAtZero: true,
          },
        },
        xAxis: {
          type: 'category',
          boundaryGap: false,
          data: ['08-12', '08-13', '08-14', '08-15', '08-16', '08-17', '08-18'],
        },
        yAxis: {
          type: 'value',
        },
        series: [
          {
            data: [140, 232, 101, 264, 90, 340, 250],
            type: 'line',
            smooth: true,
            areaStyle: {
              opacity: 0.8,
              color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                {
                  offset: 0,
                  color: '#66b1ff',
                },
                {
                  offset: 1,
                  color: 'rgb(1, 191, 236)',
                },
              ]),
            },
          },
        ],
      })

      return { option }
    },
  })
</script>

<style lang="scss">
  @use '/@/styles/mixins/media' as m;

  .chart {
  }

  .charts {
    margin: 0 0 30px 0;

    &-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    &-item {
      flex: 1 0 auto;
      width: 25%;
      height: 350px;
      // width: 100%;

      @media (max-width: 1380px) {
        width: 50%;
      }

      @media (max-width: 680px) {
        width: 100%;
      }
    }
  }
</style>
