<template>
  <div>
    <h1>Profile</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus explicabo laborum labore
    consequatur optio, dolore inventore aliquid voluptates totam. Asperiores eveniet saepe quaerat!
    Nisi recusandae vitae nam optio ipsum consequuntur.
  </div>
</template>

<script>
  export default {}
</script>

<style></style>
