<template>
  <el-header class="app-header flex w-full items-center p-0 bg-white">
    <el-menu
      :default-active="activeIndex"
      class="el-menu-demo w-full"
      mode="horizontal"
      :ellipsis="false"
      @select="handleSelect"
    >
      <el-menu-item index="0" class="self-center">
        <router-link to="/">
          <AppLogo />
        </router-link>
      </el-menu-item>
      <div class="flex-grow" />
      <el-menu-item index="1">
        <router-link to="/overview">Overview</router-link>
      </el-menu-item>
      <el-menu-item index="2">
        <router-link to="/adgroup">AdGroup</router-link>
      </el-menu-item>
      <el-sub-menu index="3">
        <template #title>Reports</template>
        <el-menu-item index="3-1">TQ Report</el-menu-item>
        <el-menu-item index="3-2">TQ Daily Report</el-menu-item>
        <el-menu-item index="3-3">Tracking Units Report</el-menu-item>
        <el-menu-item index="3-4">Hourly Report</el-menu-item>
        <el-menu-item index="3-5">Team Report</el-menu-item>
        <el-menu-item index="3-6">Partner Statuses</el-menu-item>
      </el-sub-menu>
      <el-menu-item index="4">
        <router-link to="/users">Users</router-link>
      </el-menu-item>
      <el-menu-item index="5">
        <router-link to="/sites">Sites</router-link>
      </el-menu-item>
      <el-menu-item index="6">
        <router-link to="/charts">Charts</router-link>
      </el-menu-item>
    </el-menu>

    <div class="header-profile">
      <AppProfile></AppProfile>
    </div>

    <div class="pr-5">
      <AppSettings />
    </div>
  </el-header>
</template>

<script setup>
  import AppLogo from './app/AppLogo.vue'
  import AppSettings from './app/AppSettings.vue'
  import AppProfile from './app/AppProfile.vue'

  import { ref } from 'vue'

  const activeIndex = ref('1')
  const handleSelect = (key, keyPath) => {
    console.log(key, keyPath)
  }
</script>

<style>
  .flex-grow {
    flex-grow: 1;
  }

  .app-header {
    /* border-bottom: 1px solid red;
  display: flex;
  align-items: center; */
    border-bottom: 1px solid #f0f0f0;
  }

  .el-menu {
    border-bottom: none;
    /* height: 48px !important; */
  }
</style>
