<template>
  <div class="wrapper mt-4">
    <div class="p-2 bg-white rounded-md">
      <div class="el-table__header flex items-center">
        <div class="el-table__title pb-2 basis-full font-semibold text-base">
          <span class="mr-8">Users</span>
        </div>
        <div class="search">
          <el-input
            v-model="input3"
            class="w-50 m-2 pr-5"
            size="default"
            placeholder="Please Input"
            :prefix-icon="Search"
          />
        </div>
      </div>

      <el-table :data="tableData" style="width: 100%">
        <el-table-column prop="email" label="Email" />
        <el-table-column prop="firstName" label="FirstName" />
        <el-table-column prop="lastName" label="LastName" />
        <el-table-column prop="shortName" label="ShortName" />
        <el-table-column prop="userGroup" label="UserGroup" />
        <el-table-column prop="team" label="Team" />
        <el-table-column prop="roles" label="Roles" />
        <el-table-column prop="status" label="Status">
          <template #default="scope">
            <div v-if="scope.row.status === 'Enabled'">
              <el-tag type="success">{{ scope.row.status }}</el-tag>
            </div>
            <div v-else>
              <el-tag type="info">{{ scope.row.status }}</el-tag>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="permissions" label="Permissions" />

        <el-table-column prop="actions" label="Actions">
          <template #default="scope">
            <div class="actions-cell">
              <el-button size="small" type="primary" @click="dialogTableVisible = true"
                >Edit</el-button
              >

              <el-popconfirm title="Are you sure to delete this?">
                <template #reference>
                  <el-button
                    size="small"
                    type="danger"
                    @click="handleDelete(scope.$index, scope.row)"
                    >Delete</el-button
                  >
                </template>
              </el-popconfirm>
            </div>
          </template>
        </el-table-column>
      </el-table>

      <div class="el-table__footer pt-4 text-right">
        <el-button type="success" size="large">Download .xlsx</el-button>
      </div>
    </div>

    <el-dialog v-model="dialogTableVisible" title="Edit" width="750px">
      <el-form :model="form" label-width="120px">
        <el-form-item label="Email">
          <el-col :span="12">
            <el-input v-model="form.name" placeholder="johndoe@mail.com" />
          </el-col>
        </el-form-item>
        <el-form-item label="First Name">
          <el-col :span="12">
            <el-input v-model="form.name" placeholder="John" />
          </el-col>
        </el-form-item>
        <el-form-item label="Last Name">
          <el-col :span="12">
            <el-input v-model="form.name" placeholder="Doe" />
          </el-col>
        </el-form-item>
        <el-form-item label="Short Name">
          <el-col :span="7">
            <el-input v-model="form.name" placeholder="JD" />
          </el-col>
        </el-form-item>
        <el-form-item label="User Group">
          <el-select v-model="form.region" placeholder="please select your zone">
            <el-option label="Zone one" value="shanghai" />
            <el-option label="Zone two" value="beijing" />
          </el-select>
        </el-form-item>
        <el-form-item label="User Team">
          <el-select v-model="form.region" placeholder="please select your zone">
            <el-option label="Zone one" value="shanghai" />
            <el-option label="Zone two" value="beijing" />
          </el-select>
        </el-form-item>

        <el-form-item label="Roles">
          <el-checkbox-group v-model="form.type">
            <el-checkbox label="Admin" name="type" />
            <el-checkbox label="User" name="type" />
            <el-checkbox label="Buyer" name="type" />
            <el-checkbox label="Team Manager" name="type" />
          </el-checkbox-group>
        </el-form-item>
        <el-form-item label="User Roles">
          <el-checkbox-group v-model="form.type">
            <el-checkbox label="Buyer" name="type" />
            <el-checkbox label="Manager" name="type" />
            <el-checkbox label="Partner Aggregation" name="type" />
          </el-checkbox-group>
        </el-form-item>

        <el-form-item label="Status">
          <el-switch v-model="form.delivery" />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="handleSubmit">Update</el-button>
          <el-button type="default" @click="handleSubmit">Back to list</el-button>
          <el-button type="danger" @click="handleSubmit">Delete</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script setup>
  import { reactive, ref } from 'vue'
  import { Search } from '@element-plus/icons-vue'
  // import type { TableColumnCtx } from 'element-plus/es/components/table/src/table-column/defaults'

  let dialogTableVisible = ref(false)

  const formatter = (row, column) => {
    return row.firstName
  }

  const handleEdit = (idx, row) => {
    dialogTableVisible = true
    console.log(dialogTableVisible)
  }

  const handleDelete = () => {}

  const handleSubmit = () => {
    console.log('submit!')
  }

  const form = reactive({
    name: '',
    region: '',
    date1: '',
    date2: '',
    delivery: false,
    type: [],
    resource: '',
    desc: '',
  })

  const tableData = [
    {
      email: 'alex@revpush.cc',
      firstName: 'Alexei',
      lastName: 'Sadovin',
      shortName: 'AS',
      userGroup: 'Revpush United',
      team: 'MMG',
      roles: 'Buyer',
      status: 'Enabled',
      permissions: 'Permissions',
    },
    {
      email: 'alex@revpush.cc',
      firstName: 'Tom',
      lastName: 'Tom',
      shortName: 'Tom',
      userGroup: 'Revpush United',
      team: 'MMG',
      roles: 'Buyer',
      status: 'Enabled',
      permissions: 'Permissions',
    },
    {
      email: 'alex@revpush.cc',
      firstName: 'Tom',
      lastName: 'Tom',
      shortName: 'Tom',
      userGroup: 'Revpush United',
      team: 'MMG',
      roles: 'Buyer',
      status: 'Enabled',
      permissions: 'Permissions',
    },
    {
      email: 'alex@revpush.cc',
      firstName: 'Tom',
      lastName: 'Tom',
      shortName: 'Tom',
      userGroup: 'Revpush United',
      team: 'MMG',
      roles: 'Buyer',
      status: 'Unenabled',
      permissions: 'Permissions',
    },
  ]
</script>
