<template>
  <div class="app-header">
    <Header />
  </div>

  <main class="app-main">
    <router-view v-slot="{ Component }">
      <transition name="fade-slide" mode="out-in">
        <keep-alive>
          <component :is="Component" />
        </keep-alive>
      </transition>
    </router-view>
  </main>
</template>

<script>
  import Header from '../components/Header.vue'

  export default {
    name: 'AppMain',
    components: {
      Header,
    },
    computed: {
      key() {
        return this.$route.path
      },
    },
  }
</script>
