<template>
  <div class="overview">
    <div class="overvie__filters mb-4">
      <Filters />
    </div>

    <div class="overvie__report">
      <Report />
    </div>
  </div>
</template>

<script setup>
  import Report from './Report.vue'
  import Filters from './Filters.vue'
</script>
