<template>
  <div class="wrapper">
    <div class="p-2 bg-white rounded-md">
      <div class="el-table__header flex items-center">
        <div class="el-table__title pb-2 basis-full font-semibold text-base">
          <span class="mr-8">Ad Group Report</span>
          <el-link :icon="Link"><span class="ml-0.5">Open</span></el-link>
          <el-link :icon="VideoPause" class="ml-4"><span class="ml-0.5">Pause</span></el-link>
          <el-link :icon="VideoPlay" class="ml-4"><span class="ml-0.5">Start</span></el-link>
        </div>

        <div class="flex items-center justify-end">
          <div style="height: 1.6rem" class="cursor-pointer">
            <el-icon><RefreshRight /></el-icon>
          </div>
          <div class="h-5 ml-4">
            <el-dropdown trigger="click" @command="handleSize">
              <span class="el-dropdown-link flex items-center">
                <svg
                  focusable="false"
                  class="cursor-pointer"
                  data-icon="column-height"
                  width="1em"
                  height="1em"
                  fill="currentColor"
                  aria-hidden="true"
                  viewBox="64 64 896 896"
                >
                  <path
                    d="M840 836H184c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h656c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8zm0-724H184c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h656c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8zM610.8 378c6 0 9.4-7 5.7-11.7L515.7 238.7a7.14 7.14 0 00-11.3 0L403.6 366.3a7.23 7.23 0 005.7 11.7H476v268h-62.8c-6 0-9.4 7-5.7 11.7l100.8 127.5c2.9 3.7 8.5 3.7 11.3 0l100.8-127.5c3.7-4.7.4-11.7-5.7-11.7H548V378h62.8z"
                  ></path>
                </svg>
              </span>
              <template #dropdown>
                <el-dropdown-menu>
                  <el-dropdown-item command="large">Large</el-dropdown-item>
                  <el-dropdown-item command="default">Default</el-dropdown-item>
                  <el-dropdown-item command="small">Small</el-dropdown-item>
                </el-dropdown-menu>
              </template>
            </el-dropdown>
          </div>

          <div style="height: 1.2rem" class="cursor-pointer ml-4">
            <el-dropdown trigger="click">
              <el-icon><Setting /></el-icon>
              <template #dropdown>
                <div class="adgroup-filters">
                  <div class="adgroup-filters__header p-4">
                    <el-checkbox v-model="tableBorders" label="Table Borders" size="default" />
                    <el-checkbox v-model="tableStriped" label="Table Striped" size="default" />
                    <el-checkbox
                      v-model="tableSelectionColumn"
                      label="Selection Column"
                      size="default"
                    />
                  </div>
                  <div class="grid grid-cols-3 gap-1 p-4 w-lg">
                    <el-checkbox v-model="checked1" label="Option 1" size="default" />
                    <el-checkbox v-model="checked1" label="Option 1" size="default" />
                    <el-checkbox v-model="checked1" label="Option 1" size="default" />
                    <el-checkbox v-model="checked1" label="Option 1" size="default" />
                    <el-checkbox v-model="checked1" label="Option 1" size="default" />
                    <el-checkbox v-model="checked1" label="Option 1" size="default" />
                    <el-checkbox v-model="checked1" label="Option 1" size="default" />
                    <el-checkbox v-model="checked1" label="Option 1" size="default" />
                  </div>
                  <div class="adgroup-filters__footer flex justify-between p-4 text-right">
                    <el-checkbox v-model="tableStriped" label="Set As Default" size="default" />
                    <el-button type="primary">Apply</el-button>
                  </div>
                </div>
              </template>
            </el-dropdown>
          </div>
        </div>
      </div>

      <el-table
        :data="tableData"
        :size="tabelSize"
        style="width: 100%"
        :border="tableBorders"
        :stripe="tableStriped"
        class="adgroup-report-table"
      >
        <el-table-column type="selection" width="50" v-if="tableSelectionColumn" />
        <el-table-column prop="name" width="140" sortable label="System Name" />

        <el-table-column sortable label="Bid">
          <template #default="scope">
            <div class="flex justify-between items-center update">
              <div class="text-fuchsia-500">
                {{ scope.row.amount3 }}
              </div>
              <Update />
            </div>
          </template>
        </el-table-column>

        <el-table-column prop="amount2" sortable label="Budget" />
        <el-table-column sortable label="Bought">
          <template #default="scope">
            <div class="text-fuchsia-500">
              {{ scope.row.amount3 }}
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="amount1" sortable label="adCTR">
          <template #default="scope">
            <div class="text-fuchsia-500">
              {{ scope.row.amount3 }}
            </div>
          </template>
        </el-table-column>
        <el-table-column sortable label="Cost">
          <template #default="scope">
            <div class="text-blue-500">
              {{ scope.row.amount3 }}
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="amount3" sortable label="CPC" />
        <el-table-column prop="amount1" sortable label="CPA" />
        <el-table-column prop="amount2" sortable label="Sold" />
        <el-table-column prop="amount3" sortable label="Earned">
          <template #default="scope">
            <div class="text-blue-500 underline decoration-blue-500 cursor-pointer">
              {{ scope.row.amount3 }}
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="amount1" sortable label="OpCTR" />
        <el-table-column prop="amount2" sortable label="RPS" />
        <el-table-column prop="amount3" sortable label="RPC" />

        <el-table-column sortable label="Profit">
          <template #default="scope">
            <div class="text-blue-500">
              {{ scope.row.amount3 }}
            </div>
          </template>
        </el-table-column>

        <el-table-column prop="amount3" sortable label="Margin">
          <template #default="scope">
            <div class="text-fuchsia-500">
              {{ scope.row.amount3 }}
            </div>
          </template>
        </el-table-column>

        <el-table-column prop="amount3" sortable label="Conversions" />
        <el-table-column prop="amount3" sortable label="Scrub">
          <template #default="scope">
            <div class="text-fuchsia-500">
              {{ scope.row.amount3 }}
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="amount3" sortable label="TQ" />
      </el-table>

      <div class="el-table__footer flex justify-between items-center pt-4">
        <el-pagination
          v-model:currentPage="currentPage2"
          v-model:page-size="pageSize2"
          :page-sizes="[15, 30, 50, 100]"
          background
          class="justify-end"
          layout="prev, pager, next, sizes, total"
          :total="100"
        />
        <el-button type="success" size="large">Download .xlsx</el-button>
      </div>
    </div>
  </div>
</template>

<script setup>
  import {
    Operation,
    RefreshRight,
    Link,
    VideoPause,
    VideoPlay,
    Setting,
    ScaleToOriginal,
  } from '@element-plus/icons-vue'
  import { ref } from 'vue'
  import Update from './Update.vue'

  let tabelSize = ref('default')
  let tableStriped = ref(true)
  let tableBorders = ref(true)
  let tableSelectionColumn = ref(true)

  const currentPage2 = ref(1)
  const pageSize2 = ref(5)
  const checked1 = ref(true)

  const getSummaries = (param) => {
    const { columns, data } = param
    const sums = []
    columns.forEach((column, index) => {
      if (index === 0) {
        sums[index] = 'Total Cost'
        return
      }
      const values = data.map((item) => Number(item[column.property]))
      if (!values.every((value) => Number.isNaN(value))) {
        sums[index] = `$ ${values.reduce((prev, curr) => {
          const value = Number(curr)
          if (!Number.isNaN(value)) {
            return prev + curr
          } else {
            return prev
          }
        }, 0)}`
      } else {
        sums[index] = 'N/A'
      }
    })

    return sums
  }

  const tableData = [
    {
      id: '12987122',
      name: 'Tom',
      amount1: '234',
      amount2: '3.2',
      amount3: 10,
    },
    {
      id: '12987123',
      name: 'Tom',
      amount1: '165',
      amount2: '4.43',
      amount3: 12,
    },
    {
      id: '12987124',
      name: 'Tom',
      amount1: '324',
      amount2: '1.9',
      amount3: 9,
    },
    {
      id: '12987125',
      name: 'Tom',
      amount1: '621',
      amount2: '2.2',
      amount3: 17,
    },
    {
      id: '12987126',
      name: 'Tom',
      amount1: '539',
      amount2: '4.1',
      amount3: 15,
    },
  ]

  const handleSize = (command) => (tabelSize.value = command)
</script>

<style lang="scss">
  .el-table {
    // padding: 6px;

    .el-table__cell .cell {
      font-size: 12px !important;
    }

    .sort-caret {
      border: solid 3px transparent;
    }

    .sort-caret.ascending {
      top: 0px;
      left: 5px;
    }

    .sort-caret.descending {
      bottom: 1px;
      left: 5px;
    }
  }

  .el-pagination__sizes {
    margin-left: 20px;
    // margin-right: 0;
  }

  .adgroup-filters__header {
    border-bottom: 1px solid #f0f0f0;
  }

  .adgroup-filters__footer {
    border-top: 1px solid #f0f0f0;
  }
</style>
