<template>
  <div>
    <el-icon ref="buttonRef" @click="updateBid" class="cursor-pointer update-icon">
      <Edit />
    </el-icon>

    <el-popover
      ref="popoverRef"
      :virtual-ref="buttonRef"
      trigger="click"
      title="Bid"
      virtual-triggering
      width="200px"
    >
      <div class="">
        <el-input v-model="editInput" placeholder="New Value" />
      </div>

      <div class="flex mt-4 justify-end">
        <el-button size="small">Cancel</el-button>
        <el-button type="primary" size="small">Update</el-button>
      </div>
    </el-popover>
  </div>
</template>

<script setup lang="ts">
  import { ref, unref } from 'vue'
  import { ClickOutside as vClickOutside } from 'element-plus'
  import { Edit } from '@element-plus/icons-vue'

  const buttonRef = ref()
  const popoverRef = ref()
  const editInput = ref()
  const onClickOutside = () => {
    unref(popoverRef).popperRef?.delayHide?.()
    console.log('outside')
  }

  const updateBid = () => {
    console.log('click')
  }
</script>

<style lang="scss">
  .update {
    &:hover {
      .update-icon {
        opacity: 1;
        transition: opacity 150ms ease;
      }
    }
  }
  .update-icon {
    opacity: 0;
    transition: opacity 150ms ease;
  }
</style>
